---
import Layout from "../layouts/Layout.astro";
import RightArrow from "../assets/RightArrow.astro";
import Skills from "../components/Skills.astro";
import SectionC from "../components/SectionC.astro";
import Certification from "../components/Certification.astro";
import Main from "../components/Main.astro";

const social = [
  {
    name: "LinkedIn",
    URL: "https://www.linkedin.com/in/sergiorozco/",
    img: "/icons/social/Linkedin.svg",
  },
  {
    name: "Github",
    URL: "https://github.com/Sergioaorozco",
    img: "/icons/social/Github.svg",
  },
  {
    name: "Whatsapp",
    URL: "https://api.whatsapp.com/send?phone=573007869517",
    img: "/icons/social/Whatsapp.svg",
  },
];

const certifications = [
  {
    image: "/icons/VueLogo.svg",
    title: "VueJs Developer",
    subtTitle: "Certification",
    year: "2023",
    description: "See Certification",
    emphasis: "to-emerald-900",
    link: "#",
  },
  {
    image: "/icons/RedisLogo.svg",
    title: "Redis University",
    subtTitle: "Certification",
    year: "2023",
    description: "See Certification",
    emphasis: "to-red-900",
    link: "#",
  },
  {
    image: "/images/Awward.svg",
    title: "Rookie of the Year",
    subtTitle: "Sproutloud Media Networks",
    year: "2022",
    description: "Employee Annual Awards",
    emphasis: "to-blue-900",
    hideArrow: true,
    link: "#",
  },
];
---

<Layout title="Sergio Orozco | Frontend Developer | VueJs, Astro, Git">
  <Main />
  <div class="grid gap-x-10 grid-cols-1 lg:grid-cols-2 wrapper mx-auto">
    <SectionC TitleSec="Overview">
    <div
      class="bg-slate-800/40 border border-slate-600 rounded-lg py-6 px-4 flex justify-between flex-col mb-4 self-start"
    >
      <p class="lg:text-lg">
        Mid-level frontend developer crafting user-friendly, engaging
        experiences with VueJs and Astro. Proficient in agile
        methodologies(SAFe) and teamwork, I bring a strong work ethic and
        passion for excellence to help your team achieve its goals.
      </p>
      <div
        class="flex flex-col lg:flex-row gap-3 w-full lg:mb-0 justify-between mt-4"
      >
        <ul class="flex gap-x-2 items-center justify-center lg:justify-start">
          {
            social.map((net) => (
              <li class="hover:brightness-150 hover:filter transition-all duration-200 size-10">
                <a href={net.URL} target="_blank" rel="noopener noreferrer">
                  <img width="60" height="60" src={net.img} alt={net.img} />
                </a>
              </li>
            ))
          }
        </ul>
        <a
          class="bg-amber-500 justify-center lg:justify-start lg:w-auto text-slate-900 font-bold italic text-sm lg:text-md hover:bg-amber-400 transition-all duration-200 rounded-full px-4 py-2 flex gap-x-2 items-center hover:gap-x-4"
          href="#"
          target="_blank"
          data-astro-cid-j7pv25f6=""
          >Download Resume<span class="" data-astro-cid-j7pv25f6=""
            ><RightArrow />
          </span>
        </a>
      </div>
    </div>
    </SectionC>
    <SectionC TitleSec="Tool Stack">
      <Skills />
    </SectionC>
    <div class="lg:col-span-2">
      <SectionC TitleSec="Awards and Certifications">
        <div class="flex flex-col lg:flex-row gap-3 row-span-2">
          {
            certifications.map((award) => (
              <Certification
                title={award.title}
                subTitle={award.subtTitle}
                image={award.image}
                emphasis={award.emphasis}
                year={award.year}
                description={award.description}
                hideArrow={award.hideArrow}
              />
            ))
          }
        </div>
      </SectionC>
    </div>
  </div>
</Layout>
