---
import RightArrow from "../assets/RightArrow.astro";
const { title, subTitle, image, year, description,emphasis,hideArrow, link} = Astro.props;
---

<a href={link} class="bg-gradient-to-b flex flex-grow from-slate-950 rounded-lg py-4 px-5 overflow-clip relative group h-52" class:list={[`${emphasis}`]}>
  <div class="relative z-10">
    <p class="text-2xl font-semibold text-slate-300">{title}</p>
    <p>{subTitle}</p>
  </div>
  <img src={image} alt="" class="group-hover:rotate-12 transition-all duration-500 absolute right-2 h-full opacity-25 -top-2">
  <div class="absolute flex items-center bg-slate-400 lg:bg-amber-500 px-2 h-12 bottom-0 hover:bg-amber-600 lg:-bottom-20 left-0 right-0 text-slate-900 group-hover:bottom-0 group-hover:opacity-100 transition-all duration-200 notesCard">
    <p class="flex justify-between items-center w-full">
      <span class="font-semibold text-sm">{year} - {description}</span>
      {!hideArrow && <RightArrow></RightArrow>}
    </p>
  </div>
</a>

<style></style>