---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/MainCSS.css';
import WebNav from "../components/WebNav.astro";
import { ViewTransitions } from "astro:transitions";
import RightArrow from '../assets/RightArrow.astro';


const social = [
  {
    name: "LinkedIn",
    URL: "https://www.linkedin.com/in/sergiorozco/",
    img: "/icons/social/Linkedin.svg",
  },
  {
    name: "Github",
    URL: "https://github.com/Sergioaorozco",
    img: "/icons/social/Github.svg",
  },
  {
    name: "Whatsapp",
    URL: "https://api.whatsapp.com/send?phone=573007869517",
    img: "/icons/social/Whatsapp.svg",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon_sorozco.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-100 h-full">
    <div class="w-full h-auto py-5 px-5">
      <div class="rounded-2xl m-0 lg:px-8 px-4 py-2 lg:py-3 bg-gradient-to-b from-slate-200 to-slate-300 h-auto">
        <WebNav></WebNav>
        <slot />
      </div>
    </div>
    <footer class="flex justify-between items-center pb-5 pt-3 px-5 bg-white fixed w-full bottom-0">
      <ul class="flex gap-x-2 items-center justify-center lg:justify-start">
        {
          social.map((icon) => (
            <li class="hover:brightness-50 hover:filter transition-all duration-200">
              <a href={icon.URL} target="_blank" rel="noopener noreferrer">
                <img class="size-8" src={icon.img} alt={`icon for ${icon.name}`}/>
              </a>
            </li>
          ))
        }
      </ul>
      <a class="bg-amber-500 text-slate-900 font-bold italic text-sm lg:text-md hover:bg-amber-400 transition-all duration-200 rounded-full px-4 py-2 flex gap-x-2 items-center hover:gap-x-4 w-fit" href="#" target="_blank">Download CV<span><RightArrow></RightArrow></span></a>
    </footer>
    <ViewTransitions></ViewTransitions>
  </body>
</html>
<style is:global>
  body { font-family: 'Onest', sans-serif;}
  .wrapper { max-inline-size: 1200px; }
</style>
